@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:wght@400;500&family=Roboto+Serif:wght@500&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fafafa;
}
body{
    height: 100vh;
    width: 100%;
    color: black;
    font-family: "Concert One", cursive;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto Serif", serif;
}
h1{
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    color: red;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 10px;
}
.head{
    color: green;
}
.guy{
    height: 820px;
    border: 2px solid brown;
}
.lady{
    height: 820px;
    border: 3px solid palevioletred;

}
.container-fluid{
    border: 10px solid red;
}
form{
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    border: 3px solid black;
    border-radius: 10px;
    height: 820px;
}
label{
    margin: 10px 10px 30px 0px;
    display: block;
}
input{
    width: 570px;
    margin: 10px 0px 0px 5px;
    border-radius: 5px;
    
}
.gender{
    text-align: center;
    margin: 0px;
}
.submit{
    width: 300px;
    background-color: green;
    color: #fafafa;
    height: 40px;
    border: 1px;
    font-size: 14px;
    font-weight: bold;
}
#discover{
    font-size: 28px;
    font-weight: 800;
    margin: 50px 0px;
    background: -webkit-linear-gradient(red, green,rgb(218, 218, 12));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
